.buyTokensForm {
    padding-bottom: 30px;
}

.buyTokensForm_item {
    display: flex;
    align-items: flex-end;
}

.buyTokensForm_element {
    padding-right: 10px;
}

.buyTokensForm_multiplier {
    display: inline-block;
    padding-top: 15px;
}

.sectionTitle {
    font-family: OpenSans;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.0;
	color: #7f8fa4;
}

.manageTokensTitle {
    font-family: Montserrat;
	font-size: 23px;
	line-height: 1.13;
	color: #2c405a;
}

.balanceText {
    font-size: 14px;
	line-height: 1.36;
	color: #3f536e;
}
