.buyTokensForm {
    padding-bottom: 30px;
}

.buyTokensForm_item {
    display: flex;
}

.buyTokensForm_element {
    padding-right: 10px;
}

.buyTokensForm_multiplier {
    display: inline-block;
    padding-top: 15px;
}

.manageTokensTitle {
    font-family: Montserrat;
	font-size: 23px;
	line-height: 1.13;
	color: #2c405a;
}

.balanceText {
    font-size: 14px;
	line-height: 1.36;
	color: #3f536e;
}
