.parameterizerAction {
	min-width: 350px;
	background-color: #fff;
	margin-left: 26px;
	padding: 26px 24px;
	border-radius: 2px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.14);
	box-sizing: border-box;
}

.parameterizerNote {
	font-size: 14px;
	line-height: 1.79;
	letter-spacing: 0.7px;
	text-align: center;
	color: #7f8fa4;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
}

.parameterName {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 600;
	line-height: 0.94;
	color: #3f536e;
	margin-top: 0;
	margin-bottom: 25px;
}