.parameterizerAction {
	width: 350px;
	background-color: #fff;
	margin-left: 26px;
	min-height: 350px;
	padding: 26px 24px;
	border-radius: 2px;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.14);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}