.listingStatus {
	height: 70px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.listingStatus > p {
	font-size: 12px;
	color: #7f8fa4;
	margin-right: 40px;
}

.listingStatus > svg {
	min-width: 425px;
}

.refreshStatus {
	display: flex;
	align-items: center;
}

.refreshStatus > p {
	margin-left: 20px;
	max-width: 300px;
}