.txQueueLabel {
    margin-top: 15px;
    padding-left: 0;
}
.txQueueLabel:not(.hasAction) svg  {
    fill: #fafbfc !important;
    border: 1px solid #e6eaee;
    background-color: #fafbfc;
    border-radius: 100%;
}

.txQueueLabel text {
    fill: #7f8fa4 !important;
}

.txQueueStepButton {
    display: block;
    padding-top: 5px;
    padding-left: 50px;
}

.txHeader {
    display: flex;
    justify-content: space-between;
}

.txHeaderText {
    margin-top: 12px;
}
