.buyTokensForm {
    padding-bottom: 30px;
}

.buyTokensForm_item {
    display: inline-block;
    text-align: left;
    padding-right: 30px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    color: #3f536e;
}

.buyTokensForm_element {
    height: 61px;
    display: inline-block;
    padding-right: 10px;
    vertical-align: bottom;
}

.buyTokensForm_multiplier {
    display: inline-block;
    padding-top: 15px;
}
