.PublisherContainer {
    background-color: #f3f6f8;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    height: 100%;
    min-height: 600px;
}

.formWrapper {
    padding-bottom: 30px;
}

.formItem {
    display: inline-block;
    text-align: left;
    padding-right: 30px;
    font-family: ProximaNova;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    vertical-align: top;
    color: #3f536e;
}

.requiredIcon {
    font-family: Heebo;
    font-size: 15px;
    color: #ff151f;
}

.txQueueContainer {
    padding-bottom: 12px;
    margin-bottom: 10px;
}
