.txQueueLabel {
    margin-top: 15px;
}
.txQueueLabel:not(.hasAction) svg  {
    fill: #fafbfc !important;
    border: 1px solid #e6eaee;
    background-color: #fafbfc;
    border-radius: 100%;
}

.txQueueLabel text {
    fill: #7f8fa4 !important;
}

.txQueueStepButton {
    display: block;
    padding-top: 5px;
    padding-left: 50px;
}

.txHeader {
    display: table;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: center;
}

.txHeader-right-block {
    display: table-cell;
    text-align: right;
    vertical-align: center;
}

.txHeader-left-block {
    display: table-cell;
    vertical-align: center;
}
