.MainContainerWrapper {
  margin-left: 250px;
  text-align: left;
  height: 100%;
}

.ContentContainer {
  background-color: #f3f6f8;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  height: 100%;
  min-height: 600px;
}

/* common styles */
.headline {
  font-family: Montserrat, sans-serif;
	font-size: 16px;
	font-weight: 600;
  color: #354052;
  margin-top: 0;
}

.headline--centered {
  text-align: center;
}

.noMetamaskWarning {
  background-color: rgb(83, 109, 254);
  color: #fff;
  text-align: center;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noMetamaskWarning a {
  text-decoration: underline;
}
